 .mystyle  {
    width: 100px;
    height: 100px;
    padding: 0;
    border-radius: 20px;
    background-color: #FFFFFF;
    margin:100px;
    border-width: 5px;
    border-color: #5282d2;
}

 .image  {
    display: inline-block;
    width:60px;
    height:60px;
    position: absolute;
    right: 20px;
    left: 130px;
    top: 130px;
  }   
  .mystyle2  {
    width: 100px;
    height: 100px;
    padding: 0;
    border-radius: 20px;
    background-color: #FFFFFF;
    margin:100px;
    margin-top: 10px;
    border-width: 5px;
    border-color:#5282d2;
   
    
}

 .image2  {
    display: inline-block;
    width:60px;
    height:60px;
    position: absolute;
    right: 1px;
    left: 30px;
    top: 130px;
    margin:100px;
    margin-top: 210px;
  }   

  .mystyle3  {
    width: 100px;
    height: 100px;
    padding: 0;
    border-radius: 20px;
    background-color: #FFFFFF;
    margin:100px;
    margin-top: 10px;
    border-width: 5px;
    border-color:#5282d2;
   
    
}

 .image3  {
    display: inline-block;
    width:60px;
    height:60px;
    position: absolute;
    right: 1px;
    left: 30px;
    top: 330px;
    margin:100px;
    margin-top: 210px;
  }   
  .mystyle4  {
    width: 100px;
    height: 100px;
    padding: 0;
    border-radius: 20px;
    background-color: #FFFFFF;
    margin:100px;
    margin-top: 10px;
    border-width: 5px;
    border-color:#5282d2;
    
}

 .image4  {
    display: inline-block;
    width:60px;
    height:60px;
    position: absolute;
    right: 1px;
    left: 30px;
    top: 330px;
    margin:100px;
    margin-top: 210px;
  }   

  